<launch>

    <!-- Set the map file -->
    <arg name="map" default="$(find sara_navigation)/maps/D_third_floor_ets.yaml"/>

    <!-- Load the navigation AMCL audometry -->
    <include file="$(find sara_navigation)/launch/include/amcl.launch" />

    <!-- Launch move_base -->
    <include file="$(find sara_navigation)/launch/include/move_base.launch" />

    <!-- Load the costmap file -->
    <node name="map_server" pkg="map_server" type="map_server" args=" $(arg map)" required="true" output="screen">
        <param name="frame_id" value="map" />
    </node>

</launch>
