<launch>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base_carrot" output="screen" clear_params="true" >
        <param name="base_global_planner" value="carrot_planner/CarrotPlanner" />
        <rosparam file="$(find sara_navigation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find sara_navigation)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find sara_navigation)/config/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find sara_navigation)/config/base_carrot_planner_params.yaml" command="load" />
        <remap from="/cmd_vel" to="/carrot_cmd_vel" />
    </node>
</launch>
